<div class="card">
    <div class = "card-header">
        Artist List
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4"><input type="text" [(ngModel)] = 'listFilter'/></div>
        </div>
        <div class="row">
            <div class="col-md-6"> 
                Current Filter: {{listFilter}}               
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='artists && artists.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Artist</th>
                        <th>Age</th>
                        <th>City</th>
                        <th>Profession</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let artist of artists'>
                        <td><img *ngIf = 'showImage'
                                [src] = 'artist.imageUrl'
                                [title]= 'artist.Name'
                                [style.width.px]= 'imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{artist.Name}}</td>
                        <td>{{artist.Age}}</td>
                        <td>{{artist.City}}</td>
                        <td>{{artist.Profession}}</td>
                        <td>{{artist.Available}}</td>
                    </tr>                                        
                </tbody>
            </table>
        </div>
    </div>
</div>
